*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-position: center;
  background-size: cover;
}
.logo{
  padding: 100px 0 50px;
}
.app{
  display: flex;

}
.app > div{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  margin: 0 25px;
  width: 350px;
}
h2, h3{
  margin: 0;
}
h2{
  color: #49a9a3;
}
h3{
  margin-bottom: 5px;
}
p{
  margin: 10px 0;
  position: relative;
}
p span{
  position: relative;
  cursor: pointer;
}
p:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 6px;
  background-color:#49a9a3;
  transition: all .3s ease;
}

p.selected::before {
  width: 50%;
}
.box-body{
  height: 230px;
  overflow-y: auto;
  font-size: 18px;
  line-height: 1.2em;
}
input{
  border: 0;
  outline: 0;
  color: #333;
  font-family: inherit;
  border-radius: 2px;
  width: 95%;
  padding: 0 5px;
  height: 30px;
  margin: 10px 0;
}